*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

html{
    height: 500vh;
    background-color: black;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s;
}

header.rolagem{
    background-color:rgb(0, 0, 0);
    padding: 20px 4%;
}

header.rolagem a, header.rolagem i{
    color: rgb(255, 255, 255);
}

.neon{
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 16px 20px;
}

header i{
    font-size: 30px;
    color: rgb(255, 255, 255);

}

/* DROPDOWN DO HEADER */
header ul{
    list-style-type: none;
}
/* mudar */
ul li{
    display: inline-block;
    position: relative;
}

ul li ul.dropdown li {
    display: block;
    text-align: center;
}

ul li ul.dropdown {
    width: 100%;
    background: #50484b;
    position: absolute;
    z-index: 999;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

ul li a{
    display: block;
    padding: 20px 10px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}

ul li a:hover{
    background: #f7f6f600;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

ul li:hover ul.dropdown {
    display: block;
}


header ul li{
    display: inline-block;
    margin: 0 40px;
    color: rgb(253, 253, 253);
    text-align: none;
    transition: .5s;
    opacity: 50%;
}

header ul li:hover {
    scale: calc(1.05);
    opacity: 100%;
}
/* FIM DROPDOWN HEADER */

.banner{
    height: 100vh;
    background-image: url(/Fundos/Modelback.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner h1{
    font-size: 4em;
    
}

.banner h1 span{
    color: rgb(255, 255, 255);
}

.btn-contato button{
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, #1900ff, #0ba2b3);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 0, 102, 0);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transition: .5s;
}

.btn-contato :hover{
    scale: calc(1.05);
    opacity: 100%;
}


h2{
    color: aliceblue;
}

p{
    color: white;
}

/*Trimestre 1*/
.tri{
    background-color: black;
    width: 100%;
    padding: 100px 0px;
}
/* Primeiro trimestre titulo */
.titulo h2{
    color: rgb(255, 255, 255);
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    font-family: 'Kanit';
}

.sobre{
    width: 100%;
    padding: 100px 0px;
    background-color: rgb(0, 0, 0);
}

.sobre img{
    height: auto;
    width: 300px;
    border-radius: 20px;
}

.sobretext {
    width: 550px;
}

.mat {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


/* Titulo da atividade */
.sobretext h4{
    color: rgb(255, 255, 255);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    width: 670px;
}

/* Habilidades */
.sobretext h5{
    color: #00a2ff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

/* As habilidades */
.sobretext h5 span{
    color: #ffffff;
}

/* Descrição da atividade */
.sobretext p{
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* Zoom das atividades */
.palala{
    width: auto;
    overflow: hidden;
}

.zoom{
    width: 100%;
    transition: transform 0.3s ease;
}

.palala:hover .zoom{
    transform: scale(.9);
}

@font-face {
    font-family: 'Kanit';
    src: url('/Kanit/Kanit-Medium.ttf');
}